.main {
    background: #e7f5fc;
    font-family: Arial, Helvetica, sans-serif;
    
}

.conteudo{
    font-size: 20px;
    padding: 100px;
    padding-left: 50px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.conteudo-texto{
    margin: 50px;
    padding: 20px;
}

.conteudo-foto{
    margin: 50px;
}

.titulo{
    margin-top: 50px;
}

.paragrafo{
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.75)
}

.botoes{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.botao-explorar{
    margin: 10px;
    background:rgb(106, 245, 42);
    padding: 20px;
    border-radius: 50px;
    border: 0;
    
    border-radius: black;

}

.botao-explorar:hover{
    background-color: rgb(83, 241, 10);
    
}

.botao-criar{
    margin: 10px;
    background:rgb(106, 245, 42);
    padding: 20px;
    border-radius: 50px;
    border: 0;
}

.botao-criar:hover{
    background-color: rgb(83, 241, 10);    
}


/* .app{
    background: #d9f8f5;
    
    
}

.conteudo-app {
    
    margin-left: 120px;
    padding: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 25%;
}

.explorar {
    background:rgb(106, 245, 42);
    padding: 10px;
    border-radius: 30px;
    border: 0;
    
}

.criar {
    background:rgb(106, 245, 42);
    padding: 10px;
    border-radius: 30px;
    border: 0;
    margin-left: 20px;
}

.explorar:hover{
    background: #1a8d03;
}

.criar:hover{
    background: #1a8d03;
}

.livros {
    margin-left: 500px;
    margin-top: -200px;
} */